.container-message{
    width: 100%;
    margin-left: 1rem;
}
.floated-image{
    border-radius: 0.25rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    float: left;
    width: 10rem;
    box-shadow: 5px 5px 8px #888888;
}